.ToggleBox {
  background: #f6f6f6;
  border-radius: 2em;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  cursor: pointer;
  color: black;
  box-shadow: 12px 12px 2px 1px rgb(0 0 0 / 20%);
  z-index: 10;
  position: relative;
}

.ToggleBoxActive {
  background: #f6f6f6;
  border-radius: 2em;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  cursor: pointer;
  color: black;

  z-index: 10;
  position: relative;
}
